---
layout: layout.liquid
title: 11ty Boilerplate
---
<div class="container" x-data="{selectedName: 'click the button for a name!'}">
    <h1 x-text="selectedName"></h1>
    <button @click="selectedName = randomName()">click me!</button>
    <p>⋆˙⟡</p>
</div>